<app-nav-header></app-nav-header>
<br><br><br><br>
<div class="container">
  <h1>Add Product</h1>
  <form class="form-book" id="form-id" (ngSubmit)="addProduct()" #productForm="ngForm" enctype="multipart/form-data">
    <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{message}}
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <label for="label">Label</label>
        <input type="text" class="form-control" placeholder="Label" [(ngModel)]="productData.label" name="label" required/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <label for="description">Description</label>
        <input type="text" class="form-control" placeholder="Description" [(ngModel)]="productData.description" name="description" required/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <label for="type">Type</label>
        <select [(ngModel)]="productData.type" id="type" name="type" class="form-control" required>
          <option value="" disabled selected>select a type</option>
          <option *ngFor="let item of types" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <label for="status">Status</label>
        <select [(ngModel)]="productData.status" id="status" name="status" class="form-control" required>
          <option value="" disabled selected>select a status</option>
          <option *ngFor="let item of status" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6 margin-top-10">
        <button class="btn btn-primary" type="submit" [disabled]="!productForm.form.valid">Submit</button>
        <a class="btn btn-danger" routerLink="/product">Cancel</a>
      </div>
    </div>
  </form>
</div>  