<app-nav-header></app-nav-header>
<br><br><br><br>
<div class="container">
  <h1>Product List
    <a class="btn btn-success pull-right margin-top-10" routerLink="/product/add">
      <i class="fa fa-plus"></i>
      Add Product
    </a>
  </h1>
  <p style="color: #FF0000" *ngIf="products.length == 0" > No Data Found</p>
  <div class="table-responsive">
  <table class="table table-bordered" *ngIf="products.length != 0">
    <thead class="thead-light text-center">
      <tr class="table-dark">
        <th>Label</th>
        <th>Description</th>
        <th>Type</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products | paginate: { id: 'server', itemsPerPage: 5, currentPage: p, totalItems: totalRecords }">
        <td>{{ product.label }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.type }}</td>
        <td>{{ product.status }}</td>
        <td style="width: 130px">
          <button class="btn btn-sm btn-danger" [swal]="deleteSwal">
            <i class="fa fa-trash"></i>
          </button>
          <swal #deleteSwal title="Delete" text="This cannot be undone" type="question" [showCancelButton]="true" [focusCancel]="true" (confirm)="deleteProduct(product.id)">
          </swal>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="pull-right col-md-7">
    <div class="text-right">
      <pagination-controls class="my-pagination" id="server" (pageChange)="getPage($event)" maxSize="5" directionLinks="true" autoHide="true" previousLabel="" nextLabel="" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
  </div>
</div>